
html, body {
    height: 100%;
    margin: 0px;
}

h1 { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; color: #555 } h3 { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p, div { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; } blockquote { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; }

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo img {
    height: 500px;
}

.top {
    background-color: #ff5800;
    background: url(im/glow-3839.png)!important;
    background-size: cover;
    min-height: 40px;
}

.nav-row {
    display: flex;
    min-height: 105px;
    justify-content: center;
}

.nav-row .nav-content {
    display: flex;
    align-items: center;
    min-width: 1200px;
    justify-content: space-between;
}

.nav-row .nav-content img {
    height: 100px;
}

.nav-row .nav-content .title {
    font-size: 32px;
    font-weight: 600;
    color:#555;
}

.nav-row .nav-content .items {
    display: flex;
    align-items: center;
}

.nav-row .nav-content .items a{
    color : #ff5800;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    max-width: 150px;
    text-align: center;
    text-decoration: none;
}

.carousel .background {
    background: url(im/glow-3839.png)!important;
    min-height: 350px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.carousel .background .headline {
    font-size: 65px;
}

.carousel .background .sub {
    font-size: 35px;
    font-weight: 200;
    text-transform: uppercase;
}

.carousel .highlights {
    display: flex;
    margin-top: -120px;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel .highlights div a {
    width: 300px;
    height: 300px;
    min-width: 300px;
    background-color: white;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 20px 50px -20px rgb(0 0 0 / 45%);
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: 600;
    color: #666;
    align-items: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.carousel .highlights div a:hover {
    box-shadow: 0 20px 50px -20px rgb(0 0 0 / 85%);
}

.carousel .highlights div a img {
    width: 100%;
}

.section {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
}

.section .content {
    min-width: 1200px;
    max-width: 1200px;
    border-bottom: 1px solid #efefef;
}

.section .content h1 {
    margin-bottom: 40px;
}

.section .content p {
    padding-left: 100px;
    font-size: 18px;
}

.section .content p:last-child {
    margin-bottom: 40px;
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background: url(im/glow-3839.png)!important;
    min-height: 150px;
    color: white;
    align-items: center;
}


@media screen and (max-width: 1200px) {
    .nav-row .nav-content {
        min-width: 0px;
    }

    .carousel .background .headline {
        font-size: 55px;
    }

    .carousel .background {
        min-height: 400px;
        padding-top: 50px;
    }
}