---
---

@import "";
#header_wrap {
    background-color:#FF5800!important;
    background-image:none;
    min-height: 64px;
    box-shadow: 0 6px 14px -6px rgb(0 0 0 / 30%);
    border-bottom:none;
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    height:100px;
    width: 100%;
    display: block;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;

}

#header_wrap .inner {
    height:60px;
    vertical-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

body, h1, h2, h3, h4, h5, h6, th {font-family:"TypoPRO Webly Sleek", "Segoe UI";}

#project_title, #project_tagline {
    text-shadow:none;
    font:"Segoe UI","WeblySleek UI",Helvetica,Arial,sans-serif;
    letter-spacing: 0;
}

#project_title {
    font-size: 24px;
    line-height: 33px;
    font-size: 1.5em;
    font-weight: bold;

}

#project_tagline {
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

#main_content_wrap {
    padding-top:60px;
    background: linear-gradient(
0deg
, rgb(238, 240, 244) 0%, rgb(255, 255, 255) 100%);
}

#main_content h1 {
    color:#ff5800;
    font-weight:300;
    font-size:36px;
}
#main_content h2 {
    font-weight:300
    font-size:30px;
}
#main_content {
    font-size:16px;
    font-weight:300;
}

ul, ol {
    list-style: none;
    padding-left: 40px;
}

ul li::before {
    color:rgb(255,88,0);
    width: 1em;
    content: "\2022";
    display: inline-block;
    position: absolute;
    margin-left: -1.5em;
    margin-right: .5em;
}

ol li::before {
    color:rgb(255,88,0);
    width: 1em;
    content: "." counter(li);
    display: inline-block;
    position: absolute;
    direction: rtl;
    text-align: right;
    margin-left: -1.5em;
    margin-right: .5em;
}

a {
    color: #ff5800;
    text-decoration: none;
}